* {
  margin: 0;
  padding: 0;
}
body{
    background-image: url('prosucesso.jpg');
    background-position: 100%;
    background-size: cover;
    background-origin: border-box;      
}
.fundo{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.74);
}
#contReg {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: bolder;
}
.itens {
  font-size: 25px;
  margin-left: 10px;
  flex-basis: 80px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #200a3f;
  color: #00ec85;
  border-radius: 5px;
  border: 2px solid #fff;
}
fieldset {
  padding: 15px;
  max-width: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  box-shadow: 2px 2px 10px 4px #ca9d5a;
  
}
.legenda {
  font-size: 25px;
  font-family: "Monserrat", Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-decoration: underline;
  text-transform: uppercase;
  text-indent: 15px;
  padding-right: 15px;
  color: #ca9d5a;
  /* background-color: #000;  */
}
.legenda_rodape {
  font-size: 25px;
  font-family: "Monserrat", Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-decoration: underline;
  text-indent: 15px;
  color: #ca9d5a;
  /* background-color: rgba(0, 0, 0, 0.164); */
  padding: 15px 0;
}

